* {
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.notices.green {
  background-color: #f2f6eb !important;
  border-left: 4px solid #6ca21d !important;
  color: #35470e; }

form#contact {
  background-color: #f2f6eb !important;
  padding: 20px;
  padding-top: 10px;
  margin-top: 30px; }

form#contact input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  line-height: 50px;
  margin-top: 12px;
  border: 1px solid #dae2cc; }

form#contact div.form-label:first-of-type {
  margin-top: 20px; }

form#contact .form-label {
  margin-top: 20px; }

form#contact textarea {
  padding-left: 20px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 12px;
  height: 200px;
  width: 100%;
  border: 1px solid #dae2cc; }

form#contact button.button.btn.btn-big {
  height: 50px;
  line-height: 47px;
  font-size: 17px;
  width: 100%;
  color: #fff;
  font-weight: 900;
  text-align: center;
  background-color: #6ca21d;
  border: none !important;
  border-radius: 6px; }

/* apply a natural box layout model to all elements */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* reset some common browser styles */
html, body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
body, html {
  height: 100%; }

body {
  background-image: url("../images-iface/back-wood.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: auto 100%;
  position: relative;
  overflow-x: hidden; }

body, p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  line-height: 1.9em; }

h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.2em;
  color: #35470e; }

h1 {
  font-size: 47px;
  margin-bottom: 60px;
  margin-top: 60px; }

h2, h3 {
  font-size: 26px;
  line-height: 38px;
  margin: 0px;
  color: #6ca21d; }

h5, h6 {
  font-size: 20px;
  text-transform: uppercase; }

strong {
  font-weight: 900;
  color: #6ca21d; }

.logo {
  padding: 20px 0px;
  text-align: center;
  background-color: #f2f6eb; }

.logo img {
  width: 60%;
  display: block;
  margin: 0 auto; }

a:link, a {
  text-decoration: none;
  color: #6ca21d; }

/* --- WELKOM --- */
#contactbox {
  background-color: #6ca21d;
  color: white;
  padding: 25px 20px;
  text-align: left; }

#contactbox h5 {
  text-align: center;
  margin: 0 0 15px; }

#contactbox h6 {
  text-align: center;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: bolder; }

#contactbox ul {
  padding-left: 20px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto; }

#contactbox ul li {
  list-style-type: none; }

#contactbox ul li i {
  text-align: center;
  width: 35px; }

.welkom-beeld {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px; }

.welkom-tekst p {
  margin-top: 40px; }

/* --- CONTENT --- */
.item-blok {
  display: none; }

.plus {
  display: inline-block;
  vertical-align: text-bottom;
  height: 38px;
  width: 38px;
  margin-right: 10px;
  background-image: url("../images-iface/plus.svg");
  -webkit-transform: rotate(90deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);
  /* FF */
  -o-transform: rotate(90deg);
  /* Opera */
  -ms-transform: rotate(90deg);
  /* IE9 */
  transform: rotate(90deg);
  /* W3C compliant browsers */
  transition: all 0.3s ease; }

.min {
  display: inline-block;
  vertical-align: text-bottom;
  height: 38px;
  width: 38px;
  margin-right: 10px;
  background-image: url("../images-iface/min.svg");
  -webkit-transform: rotate(0deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(0deg);
  /* FF */
  -o-transform: rotate(0deg);
  /* Opera */
  -ms-transform: rotate(0deg);
  /* IE9 */
  transform: rotate(0deg);
  /* W3C compliant browsers */
  transition: all 0.3s ease; }

h2.accordeon {
  cursor: pointer; }

p.wspace {
  height: 10px; }

p.animated {
  padding-top: 5px; }

.caption p {
  padding-left: 15px;
  border-left: 2px solid #b2b2b2;
  color: #757575;
  font-size: .8em;
  margin-bottom: 30px; }

.itemBeeld {
  margin-top: 30px; }

.itemBeeld-container {
  position: relative;
  float: none; }

.indexr {
  position: absolute;
  z-index: 5000;
  top: 15px;
  left: 15px;
  width: 36px;
  height: 36px; }

div.beeld img {
  display: block; }

img.single {
  width: 100%; }

div.beeld .itemBeeld-container:nth-child(even) {
  float: none;
  margin-top: 15px; }

.vitaltree {
  display: block;
  margin-bottom: 30px; }

/* ---- FOOTER ----- */
.footer p {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color: #757575; }

.footer {
  padding-bottom: 25px; }

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: auto;
  min-height: 100%;
  width: 100%;
  max-width: 1240px;
  border-right: 0px solid #6ca21d;
  background-color: #fff; }

#wrapper.toggled {
  padding-left: 250px;
  margin-right: -250px;
  width: auto; }

#sidebar-wrapper {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  z-index: 1000;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #6ca21d;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  height: auto;
  min-height: 100%;
  padding: 10px; }

#wrapper.toggled #page-content-wrapper {
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 45px;
  line-height: 45px;
  line-height: 50px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-size: 30px;
  background-repeat: no-repeat;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
  letter-spacing: .3px;
  position: relative; }

.act {
  margin-left: 30px;
  background-position: 0px 6px !important; }

.first {
  margin-top: 20px; }

.act-aanplanting {
  background: url("../images-iface/act-aanplanting-wit.svg") no-repeat; }

.act-aanplanting-active {
  background: url("../images-iface/act-aanplanting.svg") no-repeat;
  color: #35470e !important; }

.act-advies {
  background: url("../images-iface/act-advies-wit.svg") no-repeat; }

.act-advies-active {
  background: url("../images-iface/act-advies.svg") no-repeat;
  color: #35470e !important; }

.act-frezen {
  background: url("../images-iface/act-frezen-wit.svg") no-repeat; }

.act-frezen-active {
  background: url("../images-iface/act-uitfrezen.svg") no-repeat;
  color: #35470e !important; }

.act-hakselen {
  background: url("../images-iface/act-hakselen-wit.svg") no-repeat; }

.act-hakselen-active {
  background: url("../images-iface/act-hakselen.svg") no-repeat;
  color: #35470e !important; }

.act-klieven {
  background: url("../images-iface/act-klieven-wit.svg") no-repeat; }

.act-klieven-active {
  background: url("../images-iface/act-klieven.svg") no-repeat;
  color: #35470e !important; }

.act-ontmantelen {
  background: url("../images-iface/act-ontmantelen-wit.svg") no-repeat; }

.act-ontmantelen-active {
  background: url("../images-iface/act-ontmantelen.svg") no-repeat;
  color: #35470e !important; }

.act-snoeien {
  background: url("../images-iface/act-snoeien-wit.svg") no-repeat; }

.act-snoeien-active {
  background: url("../images-iface/act-snoeien.svg") no-repeat;
  color: #35470e !important; }

.act-vellen {
  background: url("../images-iface/act-vellen-wit.svg") no-repeat; }

.act-vellen-active {
  background: url("../images-iface/act-vellen.svg") no-repeat;
  color: #35470e !important; }

.act-verzorging {
  background: url("../images-iface/act-verzorging-wit.svg") no-repeat; }

.act-verzorging-active {
  background: url("../images-iface/act-verzorging.svg") no-repeat;
  color: #35470e !important; }

.sidebar-nav li a {
  cursor: pointer; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #35470e;
  transition: all 0.3s ease; }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  background-color: #f2f6eb; }

.sidebar-nav > .sidebar-brand a {
  color: #fff; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#global-nav {
  font-family: 'Fjalla One', sans-serif;
  color: #6ca21d;
  text-transform: uppercase;
  margin-top: 10px; }

#global-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right; }

#global-nav ul li {
  display: inline-block;
  margin-left: 15px;
  line-height: 24px; }

#global-nav ul li a {
  display: block; }

#global-nav ul li.icon {
  font-size: 24px; }

#global-nav div#mobile {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 180px;
  height: 70px;
  cursor: pointer; }

#global-nav div#mobile div {
  float: left; }

#global-nav div#mobile div#mobile-logo {
  width: 70px;
  height: 70px; }

#global-nav div#mobile div#mobile-menu {
  width: 70px;
  height: 70px; }

/* ------- SIDEBAR -------- */
@media (min-width: 992px) {
  /* ---- HOME ---- */
  #contactbox {
    float: right;
    padding: 30px;
    margin-left: 40px;
    text-align: left; }

  .welkom-tekst p {
    font-size: 20px;
    overflow: hidden; }

  #contactbox h5 {
    text-align: center;
    margin: 0 0 15px; }

  #contactbox h6 {
    text-align: center;
    margin: 0 0 15px;
    text-transform: none;
    font-weight: bolder; }

  #contactbox ul {
    padding-left: 5px; } }
@media (min-width: 768px) {
  #wrapper {
    width: 95%;
    border-right: 4px solid #6ca21d; }

  #wrapper.toggled {
    padding-left: 250px;
    width: 95%;
    border-right: 4px solid #6ca21d; }

  #sidebar-wrapper {
    width: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper {
    position: relative;
    padding: 20px 25px 25px 25px; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; }

  div.beeld .itemBeeld-container, div.beeld.vita {
    float: left;
    width: 49%; }

  div.vrow {
    clear: both; }

  div.beeld .itemBeeld-container:nth-child(even), .even {
    float: right !important;
    margin-top: 0px; }

  div.beeld img.single {
    width: 100%; }

  /* ---- GLOBAL NAV ---- */
  #global-nav {
    margin-top: 0px; }

  #global-nav div#mobile {
    position: absolute;
    top: -20px;
    left: 30px;
    display: none; }

  #global-nav ul li {
    margin-left: 25px; } }

/*# sourceMappingURL=main.css.map */
