$light-background: #f2f6eb;
$main-green: #6ca21d;
$text-wit: #fff;
$text-green-dark: #35470e;
$grey:  #757575;
$grey-light: #b2b2b2;

body, html {
   height:  100%;
}

body{
  /*background-image: url('../images-iface/back-wood.png');*/
  background-image: url('../images-iface/back-wood-large.gif');
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: auto 100%;
  position: relative;
  overflow-x: hidden;
}

body,p{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  line-height: 1.9em;
}

h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.2em;
  color: $text-green-dark;
}

h1{
  font-size: 47px;
  margin-bottom: 60px;
  margin-top: 60px;
}

h2,h3{
  font-size: 26px;
  line-height: 38px;
  margin:0px;
  color:$main-green;
}

h5,h6{
  font-size: 20px;
  text-transform: uppercase;
}

strong{
  font-weight: 900;
  color:$main-green;
}
.logo{
  padding: 20px 0px;
  text-align: center;
  background-color: $light-background;
}
.logo img{
  width: 60%;
  display: block;
  margin: 0 auto;
}
a:link,a{
  text-decoration: none;
  color:$main-green;
}
/* --- WELKOM --- */
#contactbox{
  background-color: $main-green;
  color: white;
  padding:25px 20px;
  text-align: left;
}
#contactbox h5{
  text-align: center;
  margin:0 0 15px;
}
#contactbox h6{
  text-align: center;
  margin:0 0 15px;
  text-transform: none;
  font-weight: bolder;
}
#contactbox ul{
  padding-left: 20px;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}
#contactbox ul li{
  list-style-type: none;
}
#contactbox ul li i{
  text-align: center;
  width:35px;
}
#welkom{
}
.welkom-beeld{
  display:block;
  margin-top:40px;
  margin-bottom:30px;
}
.welkom-tekst p{
  margin-top:40px;
}



/* --- CONTENT --- */
.item-blok{
  display: none;
}
.plus{
  display: inline-block;
  vertical-align: text-bottom;
  height:38px;
  width:38px;
  margin-right: 10px;
  background-image: url('../images-iface/plus.svg');

  -webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);             /* W3C compliant browsers */

  transition: all 0.3s ease;
}
.min{
  display: inline-block;
  vertical-align: text-bottom;
  height:38px;
  width:38px;
  margin-right: 10px;
  background-image: url('../images-iface/min.svg');

  -webkit-transform: rotate(0deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(0deg);        /* FF */
  -o-transform: rotate(0deg);          /* Opera */
  -ms-transform: rotate(0deg);         /* IE9 */
  transform: rotate(0deg);             /* W3C compliant browsers */

  transition: all 0.3s ease;
}
h2.accordeon{
  cursor:pointer;
}
p.wspace{
  height:10px;
}

p.animated{
  padding-top: 5px; //was 15px
}
.caption p{
  //margin-left: 17px;
  padding-left: 15px;
  border-left: 2px solid $grey-light;
  color:$grey;
  font-size: .8em;
  margin-bottom: 30px;
}
.itemBeeld{
  margin-top:30px;
}
.itemBeeld-container{
  position:relative;
  float:none;
}
.indexr{
  position:absolute;
  z-index:5000;
  top:15px;
  left:15px;
  width:36px;
  height:36px;
}
div.beeld img{
  display: block;

}
img.single{
  width:100%;
}
div.beeld .itemBeeld-container:nth-child(even){
  float:none;
  margin-top:15px;
}
.vitaltree{
  display:block;
  margin-bottom:30px;
}
/* ---- FOOTER ----- */
.footer p{
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color:$grey;
}
.footer{
  padding-bottom:25px;
}
