<div class="footer">
    <p>
      Niets uit deze website mag worden overgenomen zonder uitdrukkelijke, schriftelijke toestemming. <br/>
      Alle teksten en beelden © 2017 Ides De Vlamynck. <br/>website door www.stans.be
    </p>
</div>
