<div id="global-nav" class="clearfix">
  <div id="mobile">
    <div id="mobile-menu"><img id="mobile-img" src="{{ theme_url }}/images-iface/mobile-open.svg" /></div>
    {# <div id="mobile-logo"><img src="{{ theme_url }}/images-iface/logo-minified.svg" /></div> #}
  </div>
  <ul>
    <li>Over Green Id</li>
    <li>Contact</li>
    <li class="icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
  </ul>
</div>
