<div id="global-nav" class="clearfix">
  <div id="mobile">
    <div id="mobile-menu"><img id="mobile-img" src="{{ theme_url }}/images-iface/mobile-open.svg" /></div>
    {# <div id="mobile-logo"><img src="{{ theme_url }}/images-iface/logo-minified.svg" /></div> #}
  </div>
  <ul>
    <li><a href="{{ base_url_relative }}/overgreenid">Over GreenID</a></li>
    <li><a href="{{ base_url_relative }}/contact">Contact</a></li>
    <li class="icon"><a href="https://www.facebook.com/GreenID.be" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
  </ul>
</div>
